.menu {list-style-type: none;
        display: inline;
        font-family: sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 135%;
        text-align: center;
        margin-right: 72px;}
.link {text-decoration: none;
        color: #000;}
.img {background: #00bdc9;
        padding: 88px 0px;}
.text {width: 856px; 
        font-family: sans-serif;
        padding: 88px 0px 40px;
        margin-left: 272px;}
    
.position {text-align: center;}
.main_position {margin-left: auto;
        margin-right: auto;}
.block_img {width: 1400px;
        height: 552px;
        background: #00bdc9;
        text-align: center;}
.title {font-weight: 600;
        font-size: 48px;
        line-height: 135%;
        text-align: center;
        color: #000;}
.text_p {font-weight: 500;
        font-size: 21px;
        line-height: 150%;
        color: #161616;}
.list {font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: #161616;}
.button {text-align: center;
    padding-bottom: 88px;}
.button_style {font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    text-align: center;
    color: #fff;
    padding: 10px 24px;
    width: 145px;
    height: 44px;
    background: #04959e;}
.text_accent {font-weight: 600;
    color: #04959e;}
.line {height: 1px;
    width: 1400px;
    border: none;
    color: #161616;
    background-color: #161616;}
.footer_text {font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #161616;}
    